
<!--<div class="row" ng-controller="histogramController_beats as ctrl">-->
<div class="row" ng-controller="histogramController_boundaryPopulation as ctrl">


  <div>
    <!--<h1>View 2</h1>-->
   <!-- <div id="map1" style="top: 10px; left: 10px; width:700px; height:720px; float:left"></div>
    <div id="map2" style="top: 10px; left: 20px; width:700px; height:720px"></div>-->
      <nvd3 options="options" data="data" style="top: 10px; left: 10px; width:700px; height:720px; float:left"></nvd3>
    <!--<nvd3 options="options2" data="data2" style="top: 10px; left: 20px; width:700px; height:720px"></nvd3>-->
  </div>
</div>
