
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <md-button ng-click="uploadFile()">
           Upload File
        </md-button>
    </div>
    </div>
</div>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>